<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Recipes</h2>
    <p>"A moist and flavorful recipe that makes a large quantity of cake. I have been hounded to make this cake time and time again." </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Recipes</h2>
    <p>"A moist and flavorful recipe that makes a large quantity of cake. I have been hounded to make this cake time and time again." </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Recipes</h2>
    <p>"A moist and flavorful recipe that makes a large quantity of cake. I have been hounded to make this cake time and time again."</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>