<footer class="footer">
  <small>
    <strong><a href="http://www.example.com/">Ruby on Rails Development Training</a></strong>
    by <em><a href="http://www.example.com/"> Dale Stewart</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>